[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
environs = {version = "==8.0.0", extras = ["django"]}
gunicorn = "==19.9.0"
whitenoise = "==5.1.0"


[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
