* {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Noto Sans JP',
        sans-serif;
    margin: 0%;
}

header {
    background-color: rgb(228, 226, 226);
    display: flex;
    justify-content: space-between;
    margin: 0;
    color: red;
}

header h3 a {

    text-decoration: none;
    margin: 0 10px;
}


.post-content {
    margin-bottom: 2rem;
}

.post-content h2 {
    margin: 0.5rem 0;
}

.post-content h2 a,
.post-content h3 a:visited {
    color: blue;
    text-decoration: none;
}

.nav-left a {
    color: red;
}

header .nav-right {
    display: inline;
}

header .nav-right ul li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600;
}


.post-content {
    padding: 10px;
    background: rgb(240, 253, 253);
    border-radius: 10px;
    margin: 20px;
}

.post-content p {
    margin: 0;
    font-weight: 400;
}

.form-success {
    background: rgb(134, 219, 5);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin-left: 10px;
}

.postdetail-container {
    margin-left: 20px;
}